  <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
         <div class="container">
             <b-row align-h="center" class="mb-3 mt-3">
          <b-col md="12" cols="12" class="title-box">
            <b-img :src="pageTitle['image']" width="63"></b-img>
            <h2 class="mt-2">{{ pageTitle['title'] }}</h2>
            <h4 class="mt-1">{{ pageTitle['sub_title'] }}</h4>
          </b-col>
        </b-row>

        <b-row align-h="center">
           <b-col md="8" cols="12">
            
              <div class="d-flex justify-content-center align-items-center winning-summary">
                <div class="d-flex justify-content-center align-items-middle p-2">
                    <div class="">
                      <b-img :src="require('@/assets/diamond.svg')" width="24"></b-img>
                    </div>
                    <div class="icon-text"><h4>{{ currrentLevel.odd }}</h4></div>
                </div>
                <div class="d-flex justify-content-center align-items-middle p-2">
                    <div class="">
                      <b-img :src="require('@/assets/quiz-chat-alt.svg')" width="24"></b-img>
                    </div>
                    <div class="icon-text"><h4>{{ currrentLevel.questions }}</h4></div>
                </div>
              </div>
              <div class="form-box">
                <label>Stake Amount (Min NGN 100)</label>
                <div class="d-flex justify-content-start align-items-center input-frame">
                  <div class="currency"><p>NGN</p></div>
                  <div class="input-box">
                    <input type="number" v-model="stake" :disabled="isStartingSession">
                  </div>
                </div>
              </div>
           </b-col>
        </b-row>
      </div>
      <div class="btn-box d-flex flex-column justify-content-center align-content-center">
          <div class="container">
            <b-row align-h="center">
              <b-col md="8" cols="12">
                <p>Estimated Win:</p>
              <h2>NGN {{ estimated_win | decimal }}0</h2>
              <b-button variant="primary" block size="lg" style="height: 60px;" class="mt-3" :disabled="stake < 100" @click="startSession() || isStartingSession"><b-spinner small v-if="isStartingSession"></b-spinner> Start Kwizing!</b-button>
              <b-button variant="link" @click="returnBack()">Go Back</b-button>
              </b-col>
            </b-row>
          </div>
      </div>
    </template>
    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Quiz Result</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import NotFoundError from "@/components/NotFoundError.vue";
import $crypt from "@/CryptoJsAesJson";
// import { BIcon, BIconChevronRight } from "bootstrap-vue";

@Component({
  components: {
    NotFoundError,
  },
})
export default class CreateSession extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;
  isStartingSession = false;

//   data: Array<object> = [];

  campaign: Array<object> = [];
  currrentLevel: Array<object> = [];

  estimated_win = 0;
  stake = 100;
  pageTitle = {
      title:"",
      sub_title:"Enter how much you wish to stake for this Kwiz Session to start Kwiz",
      image: require("@/assets/mascot.svg"),
  }


  @Watch("stake")
  onstakeChanged(value: number) {
      // @ts-ignore
      this.estimated_win = value < 1 ? 1 : value * this.currrentLevel.odd;
  }

  created() {
    this.checkCampaign();
  }

  returnBack(){
      this.$router.back();
  }

  async checkCampaign() {
    this.isLoading = true;
    let data = $crypt.prototype.decrypt(this.$route.params.token);
    // console.log(data);
    return await $axios
      .get(
        "/api/v1/secured/campaign/load/" +
          data.level.campaign_ref
      )
      .then((response) => {
        // @ts-ignore
        // let decrypted = $crypt.prototype.decrypt(response.data.iv);
        // // @ts-ignore
        // this.campaign = decrypted;
        this.currrentLevel = data.level;
        // @ts-ignore
        this.estimated_win = this.currrentLevel.odd * this.stake;
        // console.log(decrypted);
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

   startSession(){
    this.isStartingSession = true;
      let data = {
          level_info: this.currrentLevel,
          stake: this.stake,
          estimated_win: this.estimated_win,
          // @ts-ignore
          quizable_id: this.currrentLevel.quizable_id,
          // @ts-ignore
          campaign_id: this.currrentLevel.campaign_id
      };
      let crypted = $crypt.prototype.encrypt(JSON.stringify(data));

     $axios.post("/api/v1/secured/campaign/start-session", {data: crypted})
     .then((response)=>{
        let sessionID = response.data.iv;
        this.$router.push({name: 'Trivia', params:{session_id: sessionID}});
     })
     .catch((error)=>{

     })
     .finally(()=>{
       this.isStartingSession = false;
     })
  }



  get user() {
    return store.getters["auth/user"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.btn-box{
  margin-top:20px;
  height: 210px;
  background: $dark-layer;
  text-align:center;
  & p{
    @include app_text(rgba(255, 255, 255, 0.77), 14px, 500);
    margin:0;
  }
  & h2{
    @include title(rgba(255, 255, 255, 0.96), 24px, 700);
    margin:0;
  }
}

.form-box{
  & label{
    @include app_text(rgba(255, 255, 255, 0.79), 13px, normal);
    margin:0;
  }
  & .input-frame{
    background: #2F3B52;
    border-radius: 5px;
    height:51px;
    padding-left:5px;
    padding-right:5px;
    border: 1px solid transparent;
    & .currency{
      border-right: 1px solid #4A546B;
      width:20%;
      text-align:center;
      & p{
        @include app_text(rgba(255, 255, 255, 0.58), 14px, 600);
        margin:0;
      }
    }
    & .input-box{
      padding-left:5px;
      width: 80%;
      & input{
        background: transparent;
        border:none;
        outline: none;
        width: 100%;
        text-align: center;
        @include number_text(#ffffff, 14px, 600);
        &:focus{
          outline: none;
        }
      }
    }
  }

  & .input-frame:focus-within{
    border: 1px solid $primary;
    & .currency *{
      color: $primary;
    }
  }
}
.winning-summary{
  .icon-text{
    @include number_text(#ffffff, 24px, 600);
    margin:0;
    margin-left:3px;
  }
}

.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}

.title-box{
  text-align: center;
  & h2{
    @include title(#ffffff, 18px, 700);
    margin:0;
  }
  & h4{
    @include title(#ffffff, 16px, 500);
    margin:0;
  }
}
</style>