<template>
  <b-container>
      <span class="text-amount">{{ amount }}</span>
    <template v-if="!hasError">
      <b-row align-h="center">
        <b-col md="5">
          <b-row align-h="center">
            <b-col cols="6" md="4" class="text-center" v-for="(n, index) in Amounts" :key="index">
            <input
              type="radio"
              class="option-rad"
              name="rGroup"
              :value="n"
              v-model="amount"
              :id="'box-'+index"
            />
              <label class="coin-card" :for="'box-'+index">
               <b-img-lazy src="/img/coin-selected.svg" class="checkmark-icon"></b-img-lazy>
                <div class="d-flex flex-column justify-content-center">
                  <div class="">
                    <div
                      class="d-flex justify-content-center align-items-center mt-3 m-a"
                    >
                      <div>
                        <b-img
                          src="/img/coin.svg"
                          fluid
                          alt="Ominisabi"
                          width="24px"
                          class="m-0"
                        ></b-img>
                      </div>
                      <div class="ml-1">
                        <p class="m-0 text-coins">{{ n/5 }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                      <span class="text-currency mr-1">&#8358;</span><span class="text-amount">{{ n }}</span>
                  </div>
                </div>
              </label>
            </b-col>
          </b-row>

          <b-row align-h="center">
              <b-col cols="12" md="4" class="text-center mt-3">
                  <b-button
                    variant="primary"
                    class=""
                    block
                    size="lg"
                    @click="makePayment()"
                    :disabled="isSending"
                >
                    <b-spinner small v-if="isSending"></b-spinner>
                    Buy Coin
                </b-button>
              </b-col>
          </b-row>
        </b-col>
      </b-row>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </b-container>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import NotFoundError from "@/components/NotFoundError.vue";
//@ts-ignore
import flutterwave from "@/plugins/flutterwave";

@Component({
  components: {
    NotFoundError,
  },
})
export default class BuyCoin extends Vue {
  isLoading = false;
  isSending = false;
  amount = 100;
  ErrorMessage = "";
  Error = {};
  hasError = false;
  Amounts = [
      100, 500, 1000, 1500, 2000, 2500
  ];

  mounted() {
    this.LoadFlutterwave();
  }

  verifyPayment(data: any) {
    $axios
      .post("/api/v1/payment/verify", data)
      .then((response) => {
        store.dispatch("auth/set_user", response.data.user);
        this.$router.push({name: 'PaymentNotice', params:{ref: response.data.ref}});
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
      })
      .finally(() => {
        this.isSending = false;
      });
  }

  makePayment() {
      this.isSending = true;
    var cls = this;
    //@ts-ignore
    FlutterwaveCheckout({
      public_key: flutterwave,
      tx_ref: "OMINI-" + Date.now(),
      amount: this.amount,
      currency: "NGN",
      country: "NG",
      payment_options: "card,mobilemoney,ussd",
      redirect_url: "/verify-pay",
      customer: {
        userID: this.user.id,
        email: this.user.email,
        phone_number: this.user.phone,
        name: this.user.lastname + " " + this.user.firstname,
      },
    //   callback: function (data: any) {
    //     // specified callback function
    //     cls.verifyPayment({
    //       transaction_id: data.transaction_id,
    //     });
    //   },
      onclose: function() {
        // close modal
      },
      customizations: {
        title: "Ominisabi",
        description: "Payment for Ominisabi coins",
        logo: "/img/logo.svg",
      },
    });
  }

  LoadFlutterwave() {
    if (document.getElementById("flutterwaveScript")) return;
    var scriptTag = document.createElement("script");
    scriptTag.src = "https://checkout.flutterwave.com/v3.js";
    scriptTag.id = "flutterwaveScript";
    document.getElementsByTagName("head")[0].appendChild(scriptTag);
  }

  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>
<style lang="scss" scoped>
.coin-card {
  background-color: #232229 !important;
  border: none;
  cursor:pointer;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 120px;
  padding:10px;
  border: 2px solid transparent;
  position: relative;
  & .checkmark-icon{
    visibility: hidden;
    position: absolute;
    top:0;
    right:0;
  }
}

.option-rad{
    display:none;
}

.option-rad:checked + .coin-card{
    border: 2px solid #019987;
    & .checkmark-icon{
        visibility: visible;
    }
}

.text-coins {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.text-currency{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: rgba(255, 255, 255, 0.72);
}
.text-amount{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.72);

}
</style>