 <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
        <div class="container mt-3">
         <div class="balance-box d-flex flex-column justify-content-center align-items-center">
                <div><h2 class="user-balance-value">NGN {{ user.user_balance }}</h2></div>
                <div class="d-flex justify-content-between align-items-center pt-1">
                    <div class="w-100 p-1">
                        <b-button variant="primary" class="cashier-btn" block>Add Fund</b-button>
                    </div>
                    <div class="w-100 p-1">
                        <b-button variant="primary" class="cashier-btn" block>Withdraw</b-button>
                    </div>
                </div>
            </div>
        </div>
      <section style="margin-top: 10px">
          <router-view />
      </section>
    </template>

    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Balance</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>

    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <!-- <template v-slot:action>
          <b-button variant="primary">Refresh </b-button>
        </template> -->
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import $crypt from "@/CryptoJsAesJson";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
      NotFoundError
  },
})
export default class Cashier extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;

  data: Array<object> = [];

  created() {
    // this.LoadData();
  }

  get user() {
    return store.getters["auth/user"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.balance-box{
    height: 160px;
    width:100%;
    margin:0 auto;
    background: linear-gradient(235.68deg, #109BFF 8.67%, #015B9C 70.28%);
    border-radius: 10px;
    & .user-balance-value{
        @include title(#ffffff, 24px, bold);
        margin:0;
    }
    & .cashier-btn{
        height: 35px;
        background: rgba(255, 255, 255, 0.21);
        border-radius: 4px;
        @include app_text(#ffffff, 14px, 500);
        border:none;
        box-shadow: none;
        &:focus{
            box-shadow: none;
        }
    }
}
.top-banner-bg {
  background: $layer;
}
.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}
</style>