<template>
  <div>
    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Kwizzes</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
    <template v-if="!isLoading"> 
        <b-container class="mt-4">
            <b-row align-v="center" align-h="center">
                <b-col class="mb-2" cols="12">
                    <h1 class="pg-title">Explore Kwiz</h1>
                </b-col>
            </b-row>
        </b-container>

        <b-container class="mt-2">
            <b-row align-v="center" align-h="center">
                <b-col class="mb-2" cols="12" md="6" v-for="campaign in data.campaigns" v-bind:key="campaign.id">
                    <div >
                        <router-link :to="{name: 'SingleCampaign', params:{ref: campaign.ref}}" class="card-linked">
                            <b-card class="camp-card" img-top :img-src="campaign.banner" :img-alt="campaign.title">
                                <!-- <b-card-img-lazy :src="campaign.banner" :alt="campaign.title" top ></b-card-img-lazy> -->
                                <b-card-text>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div><h2 class="camp-prize"> NGN {{ campaign.prize | decimal }}0 </h2></div>
                                        <div><b-img :src="require('@/assets/chevron-right-alt.svg')" width="16px"></b-img></div>
                                    </div>
                                </b-card-text>
                            </b-card>
                        </router-link>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import $crypt from "@/CryptoJsAesJson";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
    NotFoundError,
  },
})
export default class Explore extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;
  data: Array<object> = [];

  created() {
    this.LoadData();
  }

  async LoadData() {
    this.isLoading = true;
    return await $axios
      .get("/api/v1/secured/campaign/explore")
      .then((response) => {
        // @ts-ignore
        let decrypted = $crypt.prototype.decrypt(response.data.iv);
        this.data = decrypted;
        console.log(this.data);
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.pg-title{
    @include title(#ffffff, 18px, 600);
        margin:0;
}
.card-linked{
    &:hover{
        text-decoration: none;
    }
}
.camp-card{
    border:1px solid transparent;
    background: $layer;
    border-radius: 10px;
    &:hover{
        border:1px solid $primary;
    }
    & .card-img-top{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    & .camp-prize{
        @include title(rgba(255, 255, 255, 0.9), 16px, 600);
        margin:0;
    }
}
.spinner-text{
  padding-top:10px;
  @include app_text(#ffffff, 14px, normal);
}
</style>