<template>
  <div>
    <section
      class="top-banner-bg"
      style="padding-top: 10px; padding-bottom: 10px;"
    >
      <div class="container">
        <b-row align-h="center">
          <b-col md="12" cols="12" v-if="!isLoading">
            <b-img
              :src="data.banner"
              :alt="data.title"
              class="img-fluid"
              style="width: 100% \9; border-radius: 10px; "
            ></b-img>
          </b-col>
          <b-col md="12" cols="12" v-if="isLoading">
            <b-skeleton-img no-aspect height="150px" animation="fade" v-if="isLoading" style="border-radius:10px;"></b-skeleton-img>
          </b-col>
        </b-row>
      </div>
    </section>

    <section style="margin-top: 10px">
      <div class="container">
        <b-row align-h="center" class="mb-3 mt-3">
          <b-col md="12" cols="12" class="title-box" v-if="!stepsLoading">
            <b-img :src="step_titles[pageSteps]['image']" width="63"></b-img>
            <h2 class="mt-2">{{ step_titles[pageSteps]['title'] }}</h2>
            <h4 class="mt-1">{{ step_titles[pageSteps]['sub_title'] }}</h4>
          </b-col>
        </b-row>
        <!-- initial data is is Loading -->
        <b-row align-h="center" v-if="(isLoading && pageSteps == 0)">
            <b-col md="12" cols="12">
               <b-row>
                  <b-col md="12" cols="12" class="mb-1">
                    <b-skeleton animation="fade" width="100%" height="210px" style="border-radius:4px;"></b-skeleton>
                  </b-col>
                  <b-col md="12" cols="12">
                    <b-skeleton animation="fade" width="100%" height="110px" style="border-radius:4px;"></b-skeleton>
                  </b-col>
               </b-row>
            </b-col>
        </b-row>
        <!-- end of initial data loading -->

        <!-- initial data begins here -->
        <b-row align-h="center" v-if="!isLoading && pageSteps == 0">
          <b-col md="12" cols="12" v-if="data">
                <b-row>
              <b-col md="12" cols="12" class="mb-3">
                <div
                  class="
                    team-box
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  v-bind:style="{ background: data.first_quizable.gradient }"
                  @click="goToLevels(data.first_quizable.id)"
                >
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <b-img-lazy
                        :src="data.first_quizable.photo"
                        :alt="data.first_quizable.name"
                        :title="data.first_quizable.name"
                        width="75"
                      ></b-img-lazy>
                    </div>
                    <div>
                      <p
                        class="t-name"
                        v-bind:style="{ color: data.first_quizable.text_color }"
                      >
                        {{ data.first_quizable.name }}
                      </p>
                    </div>
                  </div>
                  <div>
                    <b-img-lazy
                      :src="data.first_quizable.photo"
                      :alt="data.first_quizable.name"
                      :title="data.first_quizable.name"
                      width="150"
                      class="fade-img"
                    ></b-img-lazy>
                    <b-icon
                      icon="chevron-right"
                      style="z-index: 1000"
                      font-scale="1.5"
                      class="t-chev"
                      v-bind:style="{ color: data.first_quizable.text_color }"
                    ></b-icon>
                  </div>
                </div>
              </b-col>

              <b-col md="12" cols="12">
                <div
                  class="
                    team-box
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  v-bind:style="{ background: data.second_quizable.gradient }"
                  @click="goToLevels(data.second_quizable.id)"
                >
                  <div class="d-flex justify-content-start align-items-center">
                    <div>
                      <b-img-lazy
                        :src="data.second_quizable.photo"
                        :alt="data.second_quizable.name"
                        :title="data.second_quizable.name"
                        width="75"
                      ></b-img-lazy>
                    </div>
                    <div>
                      <p
                        class="t-name"
                        v-bind:style="{ color: data.second_quizable.text_color }"
                      >
                        {{ data.second_quizable.name }}
                      </p>
                    </div>
                  </div>
                  <div>
                    <b-img-lazy
                      :src="data.second_quizable.photo"
                      :alt="data.second_quizable.name"
                      :title="data.second_quizable.name"
                      width="150"
                      class="fade-img"
                    ></b-img-lazy>
                    <b-icon
                      icon="chevron-right"
                      style="z-index: 1000"
                      font-scale="1.5"
                      class="t-chev"
                      v-bind:style="{ color: data.second_quizable.text_color }"
                    ></b-icon>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <!-- end of initial data -->

        <!-- Level selection begins here -->
        <b-row align-h="center" v-if="pageSteps == 1" class="mt-8">
          <b-col md="12" cols="12">
            <div class="d-flex justify-content-center mb-3" v-if="isFetchingQuizable">
            <b-spinner variant="primary" label="Spinning" style="width: 4rem; height: 4rem;" ></b-spinner>
            </div>
            <b-row>
              <b-col md="6" cols="12" v-for="level in currentQuizable.levels" v-bind:key="level.id">
                  <input type="radio" class="level-card-input" :id="'level-'+level.id" @change="setCurrentLevel(level.id)" name="level-input">
                  <label class="level-card d-flex flex-column justify-content-between align-items-middle" :for="'level-'+level.id">
                    <div class="level-card-header d-flex flex-column justify-content-center align-items-middle">
                      {{ level.name }}
                    </div>
                    <div class="level-card-body d-flex justify-content-between align-items-middle">
                        <div class="point-box d-flex justify-content-center align-items-center">
                            <div class="">
                              <b-img :src="require('@/assets/diamond.svg')" width="24"></b-img>
                            </div>
                            <div class="point"><h2>{{ level.odd }}</h2></div>
                        </div>
                        <div class="point-box d-flex justify-content-center align-items-center">
                            <div class="">
                              <b-img :src="require('@/assets/quiz-chat.svg')" width="24"></b-img>
                            </div>
                            <div class="point"><h2>{{ level.questions }}</h2></div>
                        </div>
                        <!-- <div class="question-box d-flex justify-content-center align-items-center">
                            <div class="">
                             <b-img :src="require('@/assets/quiz-chat.svg')" width="18"></b-img>
                            </div>
                            <div class="number_of_questions"><h4>{{ level.questions }}</h4></div>
                        </div> -->
                    </div>
                  </label>
              </b-col>
            </b-row>
            <div class="text-center" v-if="!isFetchingQuizable">
              <b-button variant="primary" block size="lg" style="height: 60px;" :disabled="!levelSelected" @click="goToPaymentPage()">Next</b-button>
              <b-button variant="link" @click="returnHome()">Go Back</b-button>
            </div>
          </b-col>
        </b-row>
        <!-- level selection ends here -->
      </div>
    </section>

    <section style="margin-top:10px;" v-if="pageSteps == 2">
      <div class="container">
        <b-row align-h="center">
           <b-col md="8" cols="12">
            
              <div class="d-flex justify-content-center align-items-center winning-summary">
                <div class="d-flex justify-content-center align-items-middle p-2">
                    <div class="">
                      <b-img :src="require('@/assets/diamond.svg')" width="24"></b-img>
                    </div>
                    <div class="icon-text"><h4>{{ currrentLevel.odd }}</h4></div>
                </div>
                <div class="d-flex justify-content-center align-items-middle p-2">
                    <div class="">
                      <b-img :src="require('@/assets/quiz-chat-alt.svg')" width="24"></b-img>
                    </div>
                    <div class="icon-text"><h4>{{ currrentLevel.questions }}</h4></div>
                </div>
              </div>
              <div class="form-box">
                <label>Stake Amount (Min NGN 100)</label>
                <div class="d-flex justify-content-start align-items-center input-frame">
                  <div class="currency"><p>NGN</p></div>
                  <div class="input-box">
                    <input type="number" v-model="stake" :disabled="isStartingSession">
                  </div>
                </div>
              </div>
           </b-col>
        </b-row>
      </div>
      <div class="btn-box d-flex flex-column justify-content-center align-content-center">
          <div class="container">
            <b-row align-h="center">
              <b-col md="8" cols="12">
                <p>Estimated Win:</p>
              <h2>NGN {{ estimated_win | decimal }}0</h2>
              <b-button variant="primary" block size="lg" style="height: 60px;" class="mt-3" :disabled="stake < 100" @click="startSession() || isStartingSession"><b-spinner small v-if="isStartingSession"></b-spinner> Start Kwizing!</b-button>
              <b-button variant="link" @click="returnToQuizable()">Go Back</b-button>
              </b-col>
            </b-row>
          </div>
      </div>
    </section>

  </div>
</template>
<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.btn-box{
  margin-top:20px;
  height: 210px;
  background: $dark-layer;
  text-align:center;
  & p{
    @include app_text(rgba(255, 255, 255, 0.77), 14px, 500);
    margin:0;
  }
  & h2{
    @include title(rgba(255, 255, 255, 0.96), 24px, 700);
    margin:0;
  }
}
.form-box{
  & label{
    @include app_text(rgba(255, 255, 255, 0.79), 13px, normal);
    margin:0;
  }
  & .input-frame{
    background: #2F3B52;
    border-radius: 5px;
    height:51px;
    padding-left:5px;
    padding-right:5px;
    border: 1px solid transparent;
    & .currency{
      border-right: 1px solid #4A546B;
      width:20%;
      text-align:center;
      & p{
        @include app_text(rgba(255, 255, 255, 0.58), 14px, 600);
        margin:0;
      }
    }
    & .input-box{
      padding-left:5px;
      width: 80%;
      & input{
        background: transparent;
        border:none;
        outline: none;
        width: 100%;
        text-align: center;
        @include number_text(#ffffff, 14px, 600);
        &:focus{
          outline: none;
        }
      }
    }
  }

  & .input-frame:focus-within{
    border: 1px solid $primary;
    & .currency *{
      color: $primary;
    }
  }
}
.winning-summary{
  .icon-text{
    @include number_text(#ffffff, 24px, 600);
    margin:0;
    margin-left:3px;
  }
}
.top-banner-bg {
  background: $layer;
}

.title-box{
  text-align: center;
  & h2{
    @include title(#ffffff, 18px, 700);
    margin:0;
  }
  & h4{
    @include title(#ffffff, 16px, 500);
    margin:0;
  }
}
.team-box {
  position: relative;
  height: 150px;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
    border: 1px solid #febb16;
  }
  & .t-name {
    @include app_text(null, 18px, 600);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0;
  }
  & .fade-img {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.18;
    z-index: 1;
  }
  & .t-chev{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.level-card-input{
  display: none;
}
.level-card{
  height: 120px;
  background: $layer;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid $secondary;
  }
  & .level-card-header{
    height: 50px;
    background: #36445F;
    border-radius: 10px 10px 0px 0px;
    @include title(#ffffff, 16px, 600);
    text-align: center;
  }
  & .level-card-body{
    // height: 80%;
    height: calc(100% - 50px);
    border:0px solid red;
    padding-left: 15px;
    padding-right: 15px;
    & .point-box{
      & .point h2{
        @include number_text(#ffffff, 20px, 600);
        margin:0;
        margin-left:3px;
      }
    }
    & .question-box{
      & .number_of_questions h4{
        @include number_text(#ffffff, 18px, 500);
        margin:0;
        margin-left:3px;
      }
    }
  }
}

.level-card-input:checked + .level-card{
  border: 1px solid $secondary;
  & .level-card-header{
    background: $secondary;
    @include title(#ffffff, 16px, 600);
  }
}

</style>
<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import $crypt from "@/CryptoJsAesJson";
import { BIcon, BIconChevronRight } from "bootstrap-vue";
import { find } from 'lodash';

@Component({
  components: {
    BIcon,
    BIconChevronRight
  },
})
export default class Home extends Vue {
  isLoading = false;
  isFetchingQuizable = false;
  stepsLoading = false;
  isStartingSession = false;
  data = [];
  currentQuizable = [];

  estimated_win = 0;
  stake = 100;

  pageSteps = 0;
  currrentLevel = {};
  levelSelected = false;

  @Watch("stake")
  onstakeChanged(value: number) {
      // @ts-ignore
      this.estimated_win = value < 1 ? 1 : value * this.currrentLevel.odd;
  }

  step_titles: Array<object> = [
    {
      title:"Hi Kwizian!",
      sub_title:"Choose your club to get started..",
      image: require("@/assets/mascot.svg"),
    },
    {
      title:"",
      sub_title:"Click to Choose one of the following Quiz Level:",
      image: require("@/assets/mascot.svg"),
    },
    {
      title:"",
      sub_title:"Enter how much you wish to stake for this Kwiz Session to start kwizing!",
      image: require("@/assets/mascot.svg"),
    },
  ];

  created() {
    if (this.isLoggedIn) {
      this.LoadHome();
    }
  }

  goToPaymentPage(){
      this.pageSteps = 2;
  }

  setCurrentLevel(id: any){
    // @ts-ignore
    this.currrentLevel = find(this.currentQuizable.levels, {id: id});
    this.levelSelected = true;
    // @ts-ignore
    this.estimated_win = this.currrentLevel.odd * this.stake;
  }

  returnHome(){
    this.currentQuizable = [];
    // @ts-ignore
    // this.step_titles = this.step_titles[0];
    this.pageSteps = 0;
  }

  returnToQuizable(){
    // @ts-ignore
    this.currrentLevel = {};
    this.levelSelected = false;
    // @ts-ignore
    this.estimated_win = 0;
    this.pageSteps = 1;
  }

  goToLevels(id:any){
    // @ts-ignore
    let campaignId = this.data.id;
    let quizable_id = id;
    this.pageSteps = 1;
    this.isFetchingQuizable = true;
    this.stepsLoading = true;
    this.getQuizable(campaignId, quizable_id)
    .then((response)=>{
      // @ts-ignore
      this.currentQuizable = $crypt.prototype.decrypt(response.data.iv);
      // @ts-ignore
      this.step_titles[this.pageSteps]['title'] = "Up "+this.currentQuizable.quizable.name+"!";
      // console.log(this.currentQuizable);
    })
    .catch((error)=>{})
    .finally(()=>{
      this.isFetchingQuizable = false;
      this.stepsLoading = false;
    })
  }

  async getQuizable(campaign: any, quizable: any){
     return await $axios.get('/api/v1/secured/campaign/single/'+campaign+'/'+quizable+'');
  }

  async LoadHome() {
    this.isLoading = true;
    let getTrivia = await $axios
      .get("/api/v1/secured/campaign/featured")
      .then((response) => {
        // @ts-ignore
        this.data = $crypt.prototype.decrypt(response.data.iv);
        
      })
      .catch((error) => {
        console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  startSession(){
    this.isStartingSession = true;
      let data = {
          level_info: this.currrentLevel,
          stake: this.stake,
          estimated_win: this.estimated_win,
          // @ts-ignore
          quizable_id: this.currentQuizable.quizable.id,
          // @ts-ignore
          campaign_id: this.data.id
      };
      let crypted = $crypt.prototype.encrypt(JSON.stringify(data));

     $axios.post("/api/v1/secured/campaign/start-session", {data: crypted})
     .then((response)=>{
        let sessionID = response.data.iv;
        this.$router.push({name: 'Trivia', params:{session_id: sessionID}});
     })
     .catch((error)=>{

     })
     .finally(()=>{
       this.isStartingSession = false;
     })
  }



  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>
