 <template>
  <div class="">
    <template v-if="!isLoading && !hasError">
      <section
        class="top-banner-bg"
        style="padding-top: 10px; padding-bottom: 10px"
      >
        <div class="container">
          <b-row align-h="center">
            <b-col md="12" cols="12">
              <b-img
                :src="data.campaign.banner"
                :alt="data.campaign.title"
                class="img-fluid"
                style="width: 100% \9; border-radius: 10px"
              ></b-img>
            </b-col>
          </b-row>
        </div>
      </section>

      <section style="margin-top: 10px">
          <router-view />
      </section>
    </template>
    <template v-if="isLoading && !hasError">
      <div
        style="height: 100vh"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <b-row align-h="center" class="mt-8">
          <b-col md="12" cols="12">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
              "
            >
              <b-spinner
                variant="primary"
                style="width: 4rem; height: 4rem"
              ></b-spinner>
              <p class="spinner-text">Fetching Quiz Result</p>
            </div>
          </b-col>
        </b-row>
      </div>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </div>
</template> 

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import store from "@/store";
import { $axios } from "@/plugins/axios";
import $crypt from "@/CryptoJsAesJson";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
      NotFoundError
  },
})
export default class Home extends Vue {
  isLoading = false;
  ErrorMessage = "";
  Error = {};
  hasError = false;

  data: Array<object> = [];

  created() {
    this.LoadCampaign();
  }

  async LoadCampaign() {
    this.isLoading = true;
    return await $axios
      .get("/api/v1/secured/campaign/load/" + this.$route.params.ref)
      .then((response) => {
        // @ts-ignore
        let decrypted = $crypt.prototype.decrypt(response.data.iv);
        //this.AllData = response.data;
        this.data = decrypted;
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        // console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";
.top-banner-bg {
  background: $layer;
}
.spinner-text {
  padding-top: 10px;
  @include app_text(#ffffff, 14px, normal);
}
</style>