<template>
  <b-container>
    <template v-if="isLoading">
       <b-row align-h="center">
        <b-col md="6">
          <b-skeleton width="100%" height="200px" animation="fade"></b-skeleton>
        </b-col>
      </b-row>
       <b-row align-h="center" class="mt-4">
        <b-col md="6">
          <b-skeleton width="100%" height="100px" animation="fade"></b-skeleton>
        </b-col>
      </b-row>
       <b-row align-h="center" class="mt-4">
        <b-col md="6">
          <b-skeleton width="100%" animation="fade"></b-skeleton>
          <b-skeleton width="100%" animation="fade"></b-skeleton>
          <b-skeleton width="100%" animation="fade"></b-skeleton>
        </b-col>
      </b-row>
       <b-row align-h="center" class="mt-2">
        <b-col md="6 text-center">
          <b-skeleton width="100px" height="40px" animation="fade" class="m-auto"></b-skeleton>
        </b-col>
      </b-row>
    </template>
    <template v-if="!isLoading && !hasError">
      <b-row align-h="center">
        <b-col md="6">
          <b-img
            :src="category.attachment"
            fluid-grow
            :alt="category.title"
            class="m-0"
          ></b-img>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-4">
        <b-col md="4">
          <b-card class="bg-app-card">
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-center">
                <div
                  class="d-flex justify-content-start align-items-center mr-3"
                >
                  <div>
                    <b-img
                      src="/img/coin.svg"
                      fluid
                      alt="Ominisabi"
                      width="24px"
                      class="m-0"
                    ></b-img>
                  </div>
                  <div class="ml-1">
                    <p class="m-0 text-amount">{{ data.total_coin }}</p>
                  </div>
                </div>
                <p class="sub-icon-text m-0">Total Coins</p>
              </div>
              <div class="text-center">
                <p class="sub-icon-title m-0">{{ data.total_question }}</p>
                <p class="sub-icon-text m-0">Total Questions</p>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-4">
        <b-col md="6" class="text-center">
          <p class="app-text-normal">{{ category.description }}</p>

          <p class="app-text-normal">
            <strong>Please Note:</strong> By clicking on the button below you
            agree to our terms and conditions
          </p>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-2">
        <b-col md="6" class="text-center">
          <b-button
            variant="primary"
            class=""
            @click="StartSession()"
            :disabled="isSendingLoading"
          >
            <b-spinner small v-if="isSendingLoading"></b-spinner>
            Start Trivia
          </b-button>
        </b-col>
      </b-row>
    </template>
    <template v-if="hasError">
      <NotFoundError
        :message="ErrorMessage"
        :status="Error.status"
        :status-text="Error.statusText"
      >
        <template v-slot:action>
          <b-button variant="primary" to="/"> Return Home </b-button>
        </template>
      </NotFoundError>
    </template>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import NotFoundError from "@/components/NotFoundError.vue";

@Component({
  components: {
    NotFoundError,
  },
})
export default class Preview extends Vue {
  isLoading = false;
  isSendingLoading = false;
  data = [];
  category = {};
  token = "";
  ErrorMessage = "";
  Error = {};
  hasError = false;

  mounted() {
    if (this.isLoggedIn) {
      this.LoadHome();
    }
  }

  async LoadHome() {
    this.isLoading = true;
    let getTrivia = await $axios
      .get("/api/v1/home/preview/" + this.$route.params.category)
      .then((response) => {
        //this.AllData = response.data;
        this.data = response.data;
        this.category = response.data.category;
        this.token = response.data.preview_token;
      })
      .catch((error) => {
        this.hasError = true;
        this.ErrorMessage = error.data.message;
        this.Error = error;
        //console.log(error);
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  async StartSession() {
    this.isSendingLoading = true;
    return await $axios
      .post("/api/v1/home/start-session", {
        category_id: this.$route.params.category,
        token: this.token,
      })
      .then((response) => {
        this.$router.push({
          name: "Trivia",
          params: { session_id: response.data.session_id },
        });
      })
      .catch((error) => {})
      .finally(() => {
        this.isSendingLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }
}
</script>

<style lang="scss" scoped>
.bg-app-card {
  background: #232229;
  border-radius: 4px;
}
.text-amount {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.sub-icon-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.72);
}
.sub-icon-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.app-text-normal {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.72);
}
</style>