<template>
    <div class="">
        <div class="">
          <b-progress :max="trivia.length" height="2rem" style="border-radius:0;" class="quiz-progress" >
            <b-progress-bar :value="currentQuizPage" class="quiz-progress-inner" v-bind:class="{winning: showWinningProgress}">
              <span>{{ currentQuizPage }}/{{ trivia.length }}</span>
            </b-progress-bar>
          </b-progress>
        </div>

        <div class="stats-pane d-flex justify-content-between align-items-center">
            <div class="point-stat">
                <div class="d-flex justify-content-center align-items-middle">
                    <div class="mr-1">
                      <b-img :src="require('@/assets/diamond.svg')" width="24"></b-img>
                    </div>
                    <div class="icon-text"><h4>
                      <template v-if="totalPoints == 0">0</template>
                      <template v-else>{{ totalPoints | decimal }}</template>
                      </h4></div>
                </div>
            </div>
            <div class="winnings-stat">
              <p>Current Winning</p>
              <h2>NGN {{ currentWinning | decimal }}0</h2>
            </div>
        </div>
        <div class="question-pane mt-1">
            <b-container>
                <b-row align-h="center">
                  <b-col cols="11">
                      <div class="question-timer d-flex justify-content-center align-items-center">
                          <div class="time-bg d-flex flex-column justify-content-center align-items-center">
                            <radial-progress-bar
                              :diameter="67"
                              :completed-steps="timerCount"
                              :total-steps="totalSteps"
                              :stroke-width="7"
                              :inner-stroke-width="7"
                              :timing-func="'steps'"
                              :start-color="'var(--primary)'"
                              :stop-color="'var(--primary)'"
                              :inner-stroke-color="'#2F3B52'"
                            >
                              <p class="counter-text mt-3">{{ decCount }}</p>
                            </radial-progress-bar>
                          </div>
                      </div>
                      <div class="question-box d-flex flex-column justify-content-center">
                        {{ currentQuestion.question }}
                      </div>
                  </b-col>
                </b-row>
            </b-container>
        </div>

        <div class="option-pane mt-4" style="height:245px;">
            <b-container>
                <b-row align-h="center">
                  <b-col cols="11">
                      <div v-for="option in currentQuestion.options" v-bind:key="option.id">
                        <input
                          type="radio"
                          class="option-rad"
                          name="rGroup"
                          :value="option.id"
                          :id="'option-' + option.id"
                          @change="setCurrentAnswer(option.id)"
                        />
                        <label
                          class="w-100 mb-2 option-box default d-flex justify-content-between align-items-center"
                          :for="'option-' + option.id"
                          :id="'box-' + option.id"
                        >
                        <div class="option-indicator">
                          <div class="indicator d-flex flex-column justify-content-center align-items-center">
                            <b-img-lazy :src="require('@/assets/chevron-right.svg')" width="19px" class="default-ind"></b-img-lazy>
                            <b-img-lazy :src="require('@/assets/failed.svg')" width="19px" class="failed-ind"></b-img-lazy>
                            <b-img-lazy :src="require('@/assets/passed.svg')" width="22px" class="passed-ind"></b-img-lazy>
                          </div>
                        </div>
                        <div class="option-text d-flex flex-column justify-content-center align-items-left">{{ option.content }} {{ option.is_answer }} </div>
                        </label>
                      </div>
                  </b-col>
                </b-row>
            </b-container>
        </div>

    <b-modal
      id="resultModal"
      hide-footer
      hide-backdrop
      hide-header-close
      no-close-on-backdrop
      no-close-on-esc
      size="sm"
      centered
      hide-header
      class="app-modal"
    >
      <div class="d-flex flex-column justify-content-center align-items-center" style="height:100%;">
          <div class="text-center">
              <template v-if="currentQuizStatus && !isEnded">
                  <b-img
                  :src='require("@/assets/mascot.svg")'
                  class="img-fluid"
                  style="width: 64px; border-radius: 10px; "
                ></b-img>
                  <h3 class="app-modal-title">Great!!</h3>
                  <p class="app-modal-text">You've earned <span class="emph">NGN {{ currentWinning | decimal }}0</span></p>
                  <b-button
                  class="mt-1"
                  variant="primary"
                  size="lg" 
                  block
                  style="height: 50px;"
                  @click="switchQuiz()"
                  >Continue</b-button
                >
              </template>
              <template v-if="(!currentQuizStatus && !isEnded) || (!currentQuizStatus && isEnded)">
                <b-img
                :src='require("@/assets/sad-mascot.svg")'
                class="img-fluid"
                style="width: 64px; border-radius: 10px; "
              ></b-img>
                  <h3 class="app-modal-title">Oops!!</h3>
                  <p class="app-modal-text">Your answer is incorrect..<br> Start another quiz session to try again..</p>
              </template>

              <template v-if="currentQuizStatus && isEnded">
                <b-img
                :src='require("@/assets/mascot.svg")'
                class="img-fluid"
                style="width: 64px; border-radius: 10px; "
              ></b-img>
                  <h3 class="app-modal-title">Congratulations!!</h3>
                  <p class="app-modal-text">Your answered all questions and you've earned <span class="emph">NGN {{ currentWinning | decimal }}0</span><br> Start another quiz session to win again..</p>
              </template>

                <!-- <template v-if="currentQuizPage > (trivia.length/2)">
                  <b-button
                    class="mt-1"
                    block
                    variant="link"
                    v-if="currentQuizStatus && !isEnded"
                    @click="cashOut()"
                    >Cash Out</b-button>
                </template> -->

          </div>
      </div>
    </b-modal>

    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { $axios } from "@/plugins/axios";
import store from "@/store";
import find from "lodash/find";
import first from "lodash/first";
import $crypt from "@/CryptoJsAesJson";
//@ts-ignore
import RadialProgressBar from "vue-radial-progress";

@Component({
  components: {
    RadialProgressBar,
  },
})
export default class Trivia extends Vue {
  isLoading = false;
  trivia: Array<object> = [];
  currentQuestion: object = {};

  timerEnabled: boolean = false;
  timerCount: number = 0;
  decCount: number = 5;
  totalSteps: number = 5;
  WatchOptions: number = 0;

  currentQuizPage = 0;
  isEnded = false;

  totalPoints: number = 0;
  pointsBag: Array<number> = [];
  currentQuizStatus: boolean = false;
  currentWinning: number = 0;

  selectedOption : string = "";
  selectedOptionID : any = "";

  session: Array<object>  = [];

  showWinningProgress: boolean = false;

  @Watch("timerEnabled")
  ontimerEnabledChanged(value: number) {
    if (value) {
      let TM = setTimeout(() => { 
        this.timerCount++;
        this.decCount--;
        if (this.timerCount == this.totalSteps) {
          clearTimeout(TM);
        }
      }, 1000);
    }
  }

  @Watch("timerCount", { immediate: true, deep: true })
  ontimerCountChanged(value: number) {
    if (value < this.totalSteps && this.timerEnabled) {
      let TM = setTimeout(() => {
        this.timerCount++;
        this.decCount--;
        if (this.timerCount == this.totalSteps) {
          clearTimeout(TM);
        }
      }, 1000);
    } else if (value == this.totalSteps) {
      this.$emit("countDownEnded");
    }
  }

  @Watch("WatchOptions", { immediate: true })
  onWatchOptionsChange(value: number) {
    this.$on("countDownEnded", () => {
      //@ts-ignore
      let options = this.currentQuestion["options"];
      let currentOpions: Array<object> = options;
      let getAnswer: any = find(currentOpions, { is_answer: true });
      let buildID = "box-" + getAnswer["id"];
      let buildOption = "option-" + getAnswer["id"];
      this.timerEnabled = false;
      this.currentQuizPage += 1;
      
        // this.totalPoints = this.totalPoints == 0 ? 1 : this.totalPoints;
        //@ts-ignore
        let bb = (!this.isEnded && (this.selectedOptionID != getAnswer["id"]))  ? 0 : parseFloat(this.currentQuestion["booster"]['booster']);
        this.pointsBag.push(bb);
        //@ts-ignore
        // console.log(this.currentQuestion["booster"]);
        this.totalPoints =  this.pointsBag.reduce((a,b)=> a*b, 1);

      this.isEnded =
        this.currentQuizPage <= this.trivia.length - 1 ? false : true;
      document.getElementById(buildOption)?.setAttribute("checked", "");
      document.getElementById(buildID)?.classList.add("success");
      // @ts-ignore
      this.currentWinning = parseFloat(this.$options.filters.decimal(this.totalPoints)) * (<any>this.session)['stake'];
      this.showWinningProgress = this.currentQuizPage > (this.trivia.length/2) ? true : false;
      if(buildID != this.selectedOption){
        document.getElementById(this.selectedOption)?.classList.remove("selected")
        document.getElementById(this.selectedOption)?.classList.remove("default")
        document.getElementById(this.selectedOption)?.classList.add("error-stat")
      }
      //@ts-ignore
      this.$bvModal.show("resultModal");
      this.sendToServer();
      this.redirectOnEnd();
    });
  }

  mounted() {
    if (this.isLoggedIn) {
      this.FetchData();
    }
  }

  redirectOnEnd() {
    let isOpen = false;
    if (
      this.currentQuizStatus &&
      this.currentQuizPage <= this.trivia.length - 1
    ) {
      isOpen = true;
    } else if (
      this.currentQuizStatus &&
      this.currentQuizPage <= this.trivia.length - 1
    ) {
      isOpen = false;
    } else if (!this.currentQuizStatus) {
      isOpen = false;
    }
    setTimeout(() => {
      if (!isOpen) {
        this.$router.push({
          name: "Result",
          params: { session_id: this.$route.params.session_id },
        });
      }
    }, 2000);
  }

  async sendToServer() {
    let isOpen = false;
    let isEnded = false;
    if (
      this.currentQuizStatus &&
      this.currentQuizPage <= this.trivia.length - 1
    ) {
      isOpen = true;
    } else if (
      this.currentQuizStatus &&
      this.currentQuizPage <= this.trivia.length - 1
    ) {
      isOpen = false;
    } else if (!this.currentQuizStatus) {
      isOpen = false;
    }
    if(!this.currentQuizStatus && this.currentQuizPage <= this.trivia.length - 1){
        isEnded = true;
    } 
    if(this.currentQuizPage == this.trivia.length){
        isEnded = true;
    }
    // console.log('page: '+this.currentQuizPage)
    // console.log('trivia: '+(this.trivia.length - 1))
    const data = {
      session_id: this.$route.params.session_id,
      //@ts-ignore
      quiz_id: this.currentQuestion["id"],
      status: this.currentQuizStatus,
      is_open: isOpen,
      is_ended: isEnded,
    };
    return await $axios
      .post("/api/v1/secured/campaign/save-progress", {data: $crypt.prototype.encrypt(JSON.stringify(data))})
      .then((response) => {})
      .catch((error) => {});
  }

  async cashOut(){
      return await $axios.post("/api/v1/home/end-trivia", {session_id: this.$route.params.session_id})
      .then((response)=>{
        this.$router.push({name: 'Result', params:{session_id: this.$route.params.session_id}});
      })
      .catch((err)=>{
          
      })
  }

  setCurrentAnswer(id: string) {
    let currentBoxId = document.getElementById("box-" + id);
    //@ts-ignore
    let AllOptions: any = this.currentQuestion["options"];
    let currentOption = find(AllOptions, { id: id });
    let isAnswer = currentOption["is_answer"] == true ? true : false;
    currentBoxId?.classList.add("selected");
    //console.log(isAnswer);
    //@ts-ignore
    // this.totalPoints += !isAnswer ? 0 : this.currentQuestion["coins"];
    this.currentQuizStatus = !isAnswer ? false : true;
    this.selectedOption = "box-" + id;
    this.selectedOptionID = id;
    document.querySelectorAll('.option-rad').forEach((el, key)=>{el.setAttribute('disabled', "true")});
    //document.getElementById(buildID)?.classList.remove('selected');
  }

  switchQuiz() {
    if (this.currentQuizPage <= this.trivia.length - 1) {
      this.timerCount = 0;
      this.decCount = 5;
      let TM = setTimeout(() => {
        this.currentQuestion = this.trivia[this.currentQuizPage];
        this.currentQuizStatus = false;
        this.timerEnabled = true;
        //@ts-ignore
        this.$bvModal.hide("resultModal");
      }, 50);
    } else {
      // alert("ended!");
    }
  }

  async FetchData() {
    this.isLoading = true;
    return await $axios
      .get("/api/v1/secured/campaign/fetch-trivias/" + this.$route.params.session_id)
      .then((response) => {
        // @ts-ignore
        let decrypted = JSON.parse($crypt.prototype.decrypt(response.data.iv));
        this.trivia = decrypted.quiz;
        this.session = decrypted.session;
        this.currentQuestion = <object>first(this.trivia);
        this.timerEnabled = true;
        this.totalPoints = 0;
        this.currentWinning = this.totalPoints * (<any>this.session)['stake'];
      })
      .catch((error) => {
        let err = error.data;
        //@ts-ignore
        this.$bvToast.toast(err.message, {
          autoHideDelay: 1000,
          variant: "danger",
          solid: true,
          title: "", 
        });
        this.$router.push({ name: "Home" });
      })
      .finally(() => {
        this.isLoading = false;
      });
  }

  get user() {
    return store.getters["auth/user"];
  }

  get isLoggedIn() {
    return store.getters["auth/isLoggedIn"];
  }

  // get currentWinning(){
  //   // ts-ignore
  //   return this.totalPoints * (<any>this.session)['total_points']
  // }
}
</script>

<style lang="scss" scoped>
@import "@/sass/custom.scss";
@import "@/sass/mixins.scss";

.quiz-progress{
  background-color: $dark-layer;
  & .quiz-progress-inner{
    background-color: $layer;
    @include number_text(#ffffff, 14px, 600);
    &.winning{
      background-color: $primary;
    }
  } 
}

.stats-pane{
  background-color: #2A344A;
  height: 78px;
  padding-left:15px;
  padding-right:15px;
  & .point-stat{
    & .icon-text{
      @include number_text(#ffffff, 18px, 600);
      margin:0;
    }
  }
  & .winnings-stat{
     & p{
       @include app_text(rgba(255, 255, 255, 0.72), 12px, 600);
       margin:0;
       text-align: right;
     }
     & h2{
       @include number_text(#ffffff, 18px, 700);
       margin:0;
       text-align: right;
     }
  }
}

.question-pane{
  & .question-timer{
      // border: 0px solid red;
      // height:50px;
      position: relative;
      bottom: -40px;
      & .time-bg{
        background-color: #252E42;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        // border: 1px solid green;
      }
      & .counter-text{
        @include number_text(#ffffff, 16px, normal);
      }
  }
  & .question-box{
    background-color: $layer;
    border-radius: 10px;
    min-height: 157px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    @include app_text(#ffffff, 16px, normal);
    padding:10px;
    padding-top:30px;
  }
}

.option-pane{
  height:50px;
  width: calc(100% - 20px);
  & .option-rad{
    display:none;
  }
  & .option-box{
      height: 50px;
      border-radius: 0px 4px 4px 0px;
      padding:0;
      background-color: $layer;
      margin-left: 20px;
      cursor: pointer;
       border:1px solid transparent;
      // &:hover{
      //   // border:1px solid $secondary;
      // }
      & .option-indicator .indicator{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: relative;
          left:-20px;
          // border: 1px solid red;
      }
      &.default{
        & .option-indicator .indicator{
          background-color: $primary;
        }
        & .failed-ind, .passed-ind{
          display: none;
        }
      }
      & .option-text{
        width: calc(100% - 70px);
        height:50px;
        @include app_text(#ffffff, 14px, 600);
        border: 0px solid red;
        position: relative;
        left:-35px;
        padding-left: 5px;
      }
  }
  // & .option-rad:checked + .option-box{
  & .option-box{
      &.selected{
         & .passed-ind{
           display: block;
         }
         & .default-ind, .failed-ind{
          display: none;
        }
      }
      &.success{
        & .option-indicator .indicator{
          background-color: $secondary;
        }
         & .passed-ind{
           display: block;
         }
         & .default-ind, .failed-ind{
          display: none;
        }
      }
      &.error-stat{
        & .option-indicator .indicator{
          background-color: #E90139;
        }
         & .failed-ind{
           display: block;
         }
         & .default-ind, .passed-ind{
          display: none;
        }
      }
  }
}

.app-modal-title{
  @include title(#ffffff, 18px, 600);
  margin:0;
}

.app-modal-text{
  @include app_text(#ffffff, 16px, normal);
  & .emph{
    @include number_text(#ffffff, 16px, 600);
  }
}
</style>